/* Pen-specific styles */
html, body, section {
  height: 100%;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 150%;
  text-shadow: 0 1px 1px #b6701e;
}

div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #211313;
  flex: 0.4;
  padding: 1rem;
}

.right-half {
  background-color: #212321;
  flex: 1.6;
  padding: 1rem;
}

#editor{
  height: 100%
}

[contenteditable="true"]:focus {
    outline: none;
}

li {
  list-style-type: none;
}

/**:focus {
    outline: none;
}*/
