/* Pen-specific styles */
html,
body,
section {
  height: 100%;
  overflow: hidden;
  background-color: #212321;
}

body {
  /*color: #fff;*/
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

footer {
  position: absolute;
  color: white;
  background-color: rgb(48, 48, 47);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30;
  text-align: center;
  overflow: hidden;
}

header {
  position: absolute;
  background-color: rgb(48, 48, 47);
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 30;
  text-align: center;
  overflow: hidden;
}

/* Pattern styles */
.container {
  position: auto;
  display: flex;
  overflow: hidden;
}

.left-half {
  background-color: #222429;
  color: rgb(235, 199, 0);
  flex: 0.4;
  padding: 1rem;
}

.right-half {
  background-color: #212321;
  flex: 1.6;
  padding: 1rem;
  overflow-x: scroll;
}

#editor {
  height: 100%;
  overflow: scroll;
  padding-left: 1px;
}

[contenteditable="true"]:focus {
  outline: none;
}

li {
  list-style-type: none;
}
